<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alatheer.shebinbook">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logoo"
        android:supportsRtl="false"
        android:theme="@style/Theme.ShebinBook"
        tools:replace="android:supportsRtl">
        <activity android:name=".forgetpassword.NewPasswordActivity"></activity>
        <activity android:name=".forgetpassword.ForgetPasswordActivity" />
        <activity android:name=".authentication.signup.VerificationCodeActivity" />
        <activity android:name=".start.StartActivity" />
        <activity android:name=".trader.images.addimages.AddImagesActivity" />
        <activity android:name=".message.MessageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.alatheer.shebinbook_FCM-MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".trader.updateoffer.UpdateOfferActivity" />
        <activity android:name=".trader.updateproduct.UpdateProductActivity" />
        <activity android:name=".trader.editalboum.UpdateAlboumActivity" />
        <activity android:name=".trader.addalboum.AddAlboumActivity" />
        <activity android:name=".trader.addoffer.AddOfferActivity" />
        <activity android:name=".trader.addproduct.AddProductActivity" />
        <activity android:name=".trader.profile.ProfileActivity" />
        <activity android:name=".allproducts.AllProductsActivity" />
        <activity android:name=".products.ProductsActivity" />
        <activity android:name=".comments.CommentActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.alatheer.shebinbook_FCM-POST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".posts.PostsActivity" />
        <activity android:name=".stores.StoresActivity" />
        <activity android:name=".subcategory.SubCategoryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.alatheer.shebinbook_FCM-CATEGORY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".authentication.favorite.FavoriteActivity" />
        <activity android:name=".setting.SettingActivity" />
        <activity android:name=".contactus.ContactUsActivity" />
        <activity android:name=".categories.CategoryActivity" />
        <activity android:name=".home.HomeActivity" />
        <activity android:name=".authentication.cities.CityActivity" />
        <activity android:name=".authentication.signup.SignupActivity" />
        <activity android:name=".authentication.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".authentication.login.LoginActivity" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/shebinbook_notification" />

        <service
            android:name=".service.FCMMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />

</manifest>